.heading h1 {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}

.heading {
  text-align: center;
  margin: auto;
}

body {
  margin: 10%;
  background: linear-gradient(90deg, #2C3E50,#BDC3C7);
}

#meme-canvas {
  width: 300px;
}

.card-img-top {
  height: 200px;
}